services:
  runner:
    privileged: true
    restart: always
    env_file:
      - .env
    environment:
      REPOSITORY_URL: https://github.com/mjun0812/flash-attention-prebuild-wheels
      RUNNER_NAME: self-hosted-runner
      RUNNER_GROUP: default
      TARGET_ARCH: x64
    build:
      context: .
      dockerfile: Dockerfile
      args:
        GH_RUNNER_VERSION: 2.329.0
        TARGET_ARCH: x64
    volumes:
      - fa-self:/var/lib/docker

volumes:
  fa-self:
