# #########################################################
# Build wheels with GitHub-hosted runner
# #########################################################

name: "[Linux] Build wheels and upload to GitHub Releases"

on:
  workflow_call:
    inputs:
      flash-attn-version:
        description: "Flash-Attention version"
        required: true
        type: string
      python-version:
        description: "Python version"
        required: true
        type: string
      torch-version:
        description: "PyTorch version"
        required: true
        type: string
      cuda-version:
        description: "CUDA version"
        required: true
        type: string
      runner:
        description: "Runner type"
        required: false
        type: string
        default: "ubuntu-22.04"
      is-upload:
        description: "Whether to upload the release asset"
        required: false
        type: boolean
        default: true

jobs:
  build_wheels:
    name: Build wheels and Upload (Linux x86_64, GitHub hosted runner)
    runs-on: ${{ inputs.runner }}
    env:
      DEBIAN_FRONTEND: noninteractive
      TERM: xterm-256color
    steps:
      - uses: actions/checkout@v4

      - name: Maximize build space
        run: |
          df -h
          echo "-----------------------------"
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          df -h

      - name: Install build dependencies
        run: |
          sudo apt install -y ninja-build clang time patchelf

      - name: Build and upload wheels
        uses: ./.github/actions/build-and-upload
        with:
          flash-attn-version: ${{ inputs.flash-attn-version }}
          python-version: ${{ inputs.python-version }}
          torch-version: ${{ inputs.torch-version }}
          cuda-version: ${{ inputs.cuda-version }}
          is-upload: ${{ inputs.is-upload }}
